/**------------interactive terminal ---------------**/
  /* ---------- TERMINAL ---------- */

  .terminal-window{
      background: var(--bg-raised);
      border:1px solid var(--line);
      border-radius:10px;
      overflow:hidden;
      margin-top:20px;
  }

  .terminal-header{
      background:var(--bg-card);
      border-bottom:1px solid var(--line);
      padding:12px 18px;
      display:flex;
      align-items:center;
  }

  .terminal-header span{
      display:inline-block;
  }

  .red,
  .yellow,
  .green{
      width:12px;
      height:12px;
      border-radius:50%;
      margin-right:8px;
  }

  .red{
      background:#ff5f56;
  }

  .yellow{
      background:#ffbd2e;
  }

  .green{
      background:#27c93f;
  }

  .terminal-title{
      margin-left:15px;
      font-family:var(--mono);
      color:var(--text-dim);
      font-size:13px;
  }

  #terminal-body{
      padding:20px;
      min-height:250px;
      font-family:var(--mono);
  }
